/* Your code here */
.main-nav {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.main-nav li {
    font-size: 12px;
    margin: 10px 7px;
}

@media (max-width: 1000px) {
    .main-nav {
        display: none; /* Oculta el elemento en pantallas mayores a 1200px */
    }
}
